/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "GothamProRBold";
  src: url("./fonts/GothamProRBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/GothamProRBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/GothamProRBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/GothamProRBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/GothamProRBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/GothamProRBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}